#about-me-container {
    background-image: url("../assets/images/jenn_table.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92%;
    width: 100%;
}


#about-me {
	margin-top: 20px;
	padding: 20px;
	border-radius: 2px;
	background-color: #455A64;
	color: #FFFFFF;
  opacity: 0.65;
  max-width: 460px;
  position: relative;
  top: 20%;
}

@media screen and (min-width: 700px) {
  #about-img {
    display: initial;
	  border-radius: 2px;
	  margin-top: 20px;
    height: 300px;
  }
}