#about-me-container {
    background-image: url("../assets/images/jenn_table.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92%;
    width: 100%;
}

#about-container { flex-wrap: wrap; }

#about-me {
	margin-top: 20px;
	padding: 20px;
	border-radius: 2px;
	background-color: #FAFAFA;
	color: #263238;
    max-width: 500px;
}

#about-img {
  display: none;
}

@media screen and (min-width: 700px) {
  #about-img {
    display: initial;
	  border-radius: 2px;
	  margin-top: 20px;
    height: 300px;
  }
}