#about-me-container {
    background-image: url("../assets/images/jenn_table.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
}

#about-me {
	padding: 20px;
	background-color: rgba(69,90,100, 0.5);
  max-width: 460px;
  position: relative;
  top: 25%;
  color: #FFFFFF; 
}

@media screen and (max-width: 550px) {
  #about-me {
    max-width: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 60px;
  }

  #about-me-container { height: 89vh; }
}

.about-me-footer a { color: #ffffff; }

.about-me-footer {
  position: fixed;
  bottom: 0;
  color: #ffffff;
  z-index: 999;
}
