#name {
  font-weight: 300;
  font-size: 2.3em;
  cursor: default;
  display: inline-block;
}

#menu {
  float: right;
  margin: 10px;
}

.menu-item {
  padding: 3px 6px;
  font-size: 1.1em;
  margin-left: auto;
  cursor: pointer;
}

.menu-item:hover { color: #546E7A; }

#menu button {
  border: none;
  background: transparent;
}

#menu button:active,
#menu button:focus {
  color: #546E7A;
  box-shadow: none;
}

#menu .btn-group.open .dropdown-toggle { box-shadow: none; }