#name {
  font-weight: 300;
  font-size: 2.3em;
  cursor: default;
  display: inline-block;
}

#menu {
  float: right;
  margin: 10px;
}

.menu-item {
  padding: 3px 6px;
  border: 0.16em solid transparent;
  font-size: 1.1em;
  margin-left: auto;
  cursor: pointer;
}

.menu-item:hover {
  border: 0.16em solid #78909C;
}