nav {
  width: 100%;
  padding: 15px 40px;
  font-size: 14px;
  background-color: #FAFAFA;
  z-index: 999;
}

nav a { color: #78909C; }
nav a:focus, a:hover, nav .btn-primary:hover { color: #455A64; }
nav .btn-primary { 
  color: #78909C;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
nav .btn-primary:focus { 
  color: #455A64;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
nav .dropdown-menu {
  border-radius: 2px;
  border-color: #EEEEEE;
  background-color: #FAFAFA;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

#name {
  color: #455A64;
	font-size: 20px;
  min-width: 120px;
  margin-bottom: -3px;
  text-decoration: none;
}

.nav { 
  min-width: 280px; 
  display: flex;
  align-self: flex-end;
}

.nav>li>a, nav .btn { padding: 0 7px; }

.nav>li { 
  padding: 0 3px 0 0;
	margin: 0;
}

.nav>li>a:focus, .nav>li>a:hover { 
	background-color: transparent;
  color: #455A64;
}

.nav-pills>li>a { border-radius: 0; }

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #455A64;
  background-color: transparent;
}

@media screen and (max-width: 550px) {
  .header-container { display: block; }

  .nav { padding-top: 10px; }

  #name, .nav {
    display: flex;
    justify-content: center;
  }
}
