body {
  color: #78909C;
  margin: 1em;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;

  /* placeholder image. Need to take a better one */
  background-image: url("../assets/images/post-it.png"); 
  background-repeat: no-repeat;
  background-size: cover;
}
