body { background-color: #FAFAFA; }

.box-shadow { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }

header { 
  font-size: 20px; 
  margin: 0 0 10px;
}

footer { 
  font-size: 12px; 
  padding: 5px 10px;
}

.content-footer a { color:  #616161; }
.content-footer { color: #616161; }
