body {
  color: #78909C;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.display-3 {
  font-weight: 400;
  font-size: 3.0em;
}

.display-2 {
  font-weight: 400;
  font-size: 2.5em;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}