<main id="about-me-container">
    <article id="about-me">
        <header>UX Designer + Software Developer</header>
        <p>Hello!</p>
        <p>I'm Jenn. I love web development, user experience design, 
            and usability testing&mdash;basically anything that would create happy users.</p>
        <p>My website is <span style="color: #EF9A9A;">currently under construction</span>. 
        Please check back later for more content and functional links.</p>
        <p>:)</p>
    </article>
</main>

<footer class="about-me-footer">
    &copy; 2017 Design by Jenn Chan using&nbsp;<a href="https://angular.io/">Angular 2</a>.
</footer>