<!--
<div class="container">
    <section class="content flex">
        <div id="about-me-container">
            <div class="header box-shadow">
                <header class="name"> Jenn Chan </header>
                <header class="title"> UX Designer + Software Developer </header>
            </div>

            <main id="about-container" class="flex"> 
                <img src="../assets/images/jennchan.jpg" alt="Jenn Chan Image" id="about-img" class="box-shadow"/>
                <article id="about-me" class="box-shadow">
                    <p>Hello!</p>
                    <p>I'm Jenn. I love web development, user experience design, 
                        and usability testing&mdash;basically anything that would create happy users.</p>
                    <p>My website is currently under construction. Please check back later for more content
                        and functional links.</p>
                    <p>:)</p>
                </article>
            </main>
        </div>
    </section>
</div>
-->

<div id="about-me-container">
    
</div>