<nav>
    <div class="header-container">
        <a id="name" routerLink="/">JENN CHAN</a>
        <ul class="nav nav-pills">
            <li class="btn-group" dropdown>
                <button id="project-button" type="button" class="btn btn-primary" dropdownToggle [disabled]="disabled">
                UX PROJECTS <span class="caret"></span>
                </button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a class="dropdown-item" routerLink="/pet-owner" routerLinkActive="active">
                    Senior Pet-Owners</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" href="#">Mobile Email App</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Data Visualization</a></li>
                </ul>
            </li>

            <li role="presentation"><a href="/jenn_resume.pdf">RESUME</a></li>

            <li role="presentation"><a href="#">CONTACT</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
